
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;
border: 1px solid #E6EAF1;
height: 80px;
}
.navLinks {
    list-style: none;
}
.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a {
    transition: all 0.3s ease 0s;
    color: #858FA3;
    font-weight: 500;
}
.navLinks li a:hover {
    color: #5F58C3;
}
.searchInput {
    border: none;
}